<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %} Bid your informatics books! {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Biblioteca di informatica">
    <meta name="keywords" content="">
    <meta name="author" content="Mattia Monga">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <style> body { padding-top: 60px; } </style>

    <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		    
    <script type=text/javascript>
	      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% endblock %}
  </head>

  <body>


    <div class="container">
      {% block container %}

        <div class="content">
          {% block content %}
          {% endblock %}
        </div>

        <hr>

        <footer class="footer">
        {% block footer %}
            <address>Fatto da Mattia Monga (GPLv3 code available on <a href="https://bitbucket.org/mmonga/bibliodi">BitBucket</a>)</address>
        {% endblock %}
        </footer>
    {% endblock %}
    </div>
  </body>
</html>