{% extends "base.html" %}
{% block title -%} {{ super() }} &emdash; Elenco{%- endblock %}
{% block content %}
<form action="" id="filtro-form" class="form-inline">
<div class="form-group">
<label for="filtro" class="sr-only">Filtro:</label>
<input class="form-control input-lg" type="text" placeholder="filtro"
      id="filtro" />
<span class="help-block">Mostra solo i record che contengono la
	stringa <i>filtro</i> nel campo autore o titolo.</span>
</div>
<div class="form-group">
<label for="maxres" class="sr-only">Risultati:</label>
<input class="form-control input-lg" type="number" placeholder="1000"
      id="maxres" min="1" max="32000" size="5" maxlength="5" width="20%"/>
<span class="help-block">Numero massimo risultati.</span>
</div>
<div class="form-group">
<button class="btn btn-default" type="submit"
	id="applica">Applica</button>
<span class="help-block">&nbsp;</span>
</div>
<script type="text/javascript">
function actionset() {
  var f = $('#filtro').val() == "" ? "_" : $('#filtro').val();
  var m = $('#maxres').val() == "" ? "1000" : $('#maxres').val().toString();
  var c = $('#categoria').text().trim() == "Tutte" ? "_" : $('#categoria').text().trim();
  $("#filtro-form").attr("action", "/sort/anno/dir/asc/cat/" + c +"/filter/" + f +
  '/max/' + m);
}

$("#applica").click(actionset);
$("#filtro").change(actionset);
$("#maxres").change(actionset);
$("#categoria").change(actionset);
</script>
</form>
<div class="table-responsive">
<table class="table table-striped table-condensed">
  <tr><th><a href="/sort/tenere/dir/{{ odirection }}/cat/{{ cat }}/filter/{{ filter }}/max/{{ mres }}">Tenere</a></th>
     <th><a href="/sort/titolo/dir/{{ odirection }}/cat/{{ cat }}/filter/{{ filter }}/max/{{ mres }}">Titolo</a></th>
     <th><a href="/sort/autori/dir/{{ odirection }}/cat/{{ cat }}/filter/{{ filter }}/max/{{ mres }}">Autore/Curatore</a></th>
     <th><a href="/sort/anno/dir/{{ odirection }}/cat/{{ cat }}/filter/{{ filter }}/max/{{ mres }}">Anno</a></th>
     <th>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle"
     data-toggle="dropdown" id="categoria">
    {% if cat == "_" %}Tutte{% else %} {{ cat }} {% endif %} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/sort/anno/dir/{{ odirection }}/cat/_/filter/{{ filter }}/max/{{ mres }}">Tutte</a></li>
{% for scat in categories -%}
    <li><a href="/sort/anno/dir/{{ odirection }}/cat/{{ scat }}/filter/{{ filter }}/max/{{ mres }}">{{ scat }}</a></li>
{%- endfor %}
  </ul>
</div>
</th></tr>
{% for hash,anno,autore,titolo,tenere,collocazione in data -%}
  {% if tenere %}
  <tr class="success" id="row{{ hash }}">
  <td><button type="button" class="btn btn-primary"
  disabled="disabled" id="link{{ hash }}">{{ tenere }}</button></td>
  {% else %}
  <tr id="row{{ hash }}">
  <td><button type="button" class="btn btn-primary" id="link{{ hash }}">{{ tenere }}</button></td>
  {% endif %}
	  <td>{{ titolo }}</td> 
	  <td>{{ autore	}}</td> 
	  <td>{{ anno }}</td> 
	  <td>{{ collocazione }}</td></tr>
{%- endfor %}
<script type="text/javascript">
$(".btn").click(function() {
var h = $(this).attr("id");
$.ajax({
  url: "/set",
  data: {
    hash: $(this).attr("id")
  },
  success: function( data ) {
    $('#'+h).attr("disabled","disabled");	  
    $('#'+h).text('True');	  
    $('#row'+h.slice('link'.length,h.length)).attr('class','success');	  
  }
});
});
</script>
</table>
</div>
{%- endblock %}