{% extends "base.html" %}
{% block title -%} {{ super() }} &emdash; Elenco{%- endblock %}
{% block content %}

  <p>La raccolta delle preferenze &egrave; terminata: grazie per aver
  partecipato. Ecco i <a href="/lista.csv">risultati</a> (CSV).</p>

<div id="tag-cloud">

<!-- d3-cloud Copyright (c) 2013, Jason Davies                   --> 
<!-- https://github.com/jasondavies/d3-cloud                     -->
<!-- https://github.com/jasondavies/d3-cloud/blob/master/LICENSE -->
<script src="{{ url_for('static', filename='d3-cloud/lib/d3/d3.js')
      }}"></script>
<script src="{{ url_for('static', filename='d3-cloud/d3.layout.cloud.js') }}"></script>
<script>

var words = {{ words|safe }}

var fill = d3.scale.category20b();
var w = words;
var width = 1200;
var height = 500;

d3.layout.cloud()
      .size([width, height])
      .timeInterval(10)
      .text(function(d) { return d.text; })
      .font("Impact")
      .fontSize(function(d) { return 8+d.size; })
      .rotate(function(d) { return ~~(Math.random() * 7) * 30 - 60 ; })
      .padding(1)
      .on("end", draw)
      .words(w)
      .start();

function draw(words) {
    d3.select("#tag-cloud").append("svg")
        .attr("width", width)
        .attr("height", height)
      .append("g")
        .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
}
</script>


</div>
{%- endblock %}